registry=https://pkgs.dev.azure.com/KodisTreviso/TMOM/_packaging/tMomFeed/npm/registry/ 
                        
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/KodisTreviso/TMOM/_packaging/tMomFeed/npm/registry/:username=KodisTreviso 
//pkgs.dev.azure.com/KodisTreviso/TMOM/_packaging/tMomFeed/npm/registry/:_password=bzV1emlha3ZzcHl4Z3JwdG1kZ253c2V1cGhqYjc1NjdybmV3a2t1NDd6eXRvbW0zZW9wcQ==
//pkgs.dev.azure.com/KodisTreviso/TMOM/_packaging/tMomFeed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/KodisTreviso/TMOM/_packaging/tMomFeed/npm/:username=KodisTreviso 
//pkgs.dev.azure.com/KodisTreviso/TMOM/_packaging/tMomFeed/npm/:_password=bzV1emlha3ZzcHl4Z3JwdG1kZ253c2V1cGhqYjc1NjdybmV3a2t1NDd6eXRvbW0zZW9wcQ==
//pkgs.dev.azure.com/KodisTreviso/TMOM/_packaging/tMomFeed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
